* {
  box-sizing: border-box;
}

html, body {
  /* Normalize */
  margin: 0;
  padding: 0;
  background: #ececec;
  overflow-x: hidden;

  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav * {
  font-family: 'Jockey One', sans-serif;
  font-weight:100;
}

section.view-content {
  contain: content; /*layout style paint */
  top: 80px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  background: transparent;
}

section.view-content .animatable {
  opacity: 0;
  transform: translateX(20px);
  transition: transform 0.3s cubic-bezier(0, 0, .3, 1),
              opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

section.view-content.visible .animatable {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

section.view-content::before {
  content: '';
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ececec;
  transition: opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

body::after {
  content: '';
  opacity: 0;
  position: absolute;
  pointer-events: events;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px -16px; /* center after top and left */
  border-radius: 50%;
  border: 2px solid slategray; /*#586986*/
  border-top-color: transparent;
  animation: spin 1.1s infinite linear;
  transition: opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

div.masthead {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 20px;
  color: white;
  background-position: center;
  font-size: 32px;
  background-color: #2b2b2b;
  transition: height 0.3s cubic-bezier(0, 0, .3, 1);
}

@media (max-width: 1000px) {
  div.masthead {
    height: 300px;
  }
}

h1.masthead-title {
  position: absolute;
  bottom: 0;
}

div.masthead::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: #2b2b2b;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

div[view] {
  padding: 13px;
}

section.view-content.visible div.masthead::before {
  opacity: 0;
}

body.view-pending::after {
  opacity: 1;
}

header {
  font-family: inherit;
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  z-index: 3;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .6);

  background: #67cbec;
  border-bottom:3px solid #5bb7d6;
}

header > .header-content {
  max-width: 900px;
  margin: 0 auto;
}

header > .header-content > .header-title {
  color: white;
  margin: 0px;
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
}

header > .header-content > img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  vertical-align: middle;
}

header > .header-content > .nav-container {
  float: right;
}

header > .header-content > .nav-container > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

header > .header-content > .nav-container > label {
  display: none;
}

header > .header-content > .nav-container > nav > ul {
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

header > .header-content > .nav-container > nav > ul > li {
  display: inline-block;
  padding: 6px 15px;
}

header > .header-content > .nav-container > nav > ul > li:hover {
  background: rgba(40, 40, 40, .2);
}

header > .header-content > .nav-container > nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media (max-width: 450px) {
  /* Nav styles */
  header > .header-content > .nav-container > nav {
    will-change: transform;
    position: fixed;
    transform: translateX(0);
    width: 70%;
    top: 0;
    right: -70%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(0, 0, .3, 1);
  }

  /*
  Consider this for a nav-open back shadow
  header > .header-content > .nav-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(40, 40, 40, .35);
    pointer-events: none;
  }*/

  header > .header-content > .nav-container > input:checked ~ nav {
    transform: translateX(-100%);
  }

  header > .header-content > .nav-container > nav > ul {
    margin-top: 80px;
  }

  header > .header-content > .nav-container > nav > ul > li {
    display: block;
    width: 100%;
  }

  header > .header-content > .nav-container > nav > ul > li > a {
    color: black;
  }

  /* SVG and title styles */
  header > .header-content > .nav-container > label {
    display: inline-block;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    vertical-align: middle;
    padding-top: 10px;
    fill: white;
  }

  header > .header-content > .nav-container > input:checked ~ label {
    fill: black;
  }

  header > .header-content > .header-title {
    display: inline-block;
  }
}

@media (max-width: 250px) {
  header > .header-content > .header-title {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);;
  }

  100% {
    transform: rotate(360deg);
  }
}

.dom-card {
  width: 100%;
  max-width: 850px;
  padding: 20px;
  margin: 10px auto;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  word-wrap: break-word;
  border-left: 4px solid #67cbec;
}

@media (max-width: 890px) {
  .body-image {
    width: 150px;
    height: 150px;
  }
}

.body-image {
  margin: 8px;
}

.body-image > img {
  max-height: 100%;
  max-width: 100%;
}

.body-image-right {
  float: right;
}

.body-image-left {
  float: left;
}
