<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title = '404'; %>
    <% subtitle = 'Page not found' ; %>
    <% secondary_subtitle = '' ; %>
    <% background = 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">
          <p>Is something broken? Please <a href="mailto:info@revolutionuc.com">contact us</a>.</p>
      </div>
    </div>
<% if(partial == false) { %> <% include ../footer %> <% } %>
