<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'Schedule'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-schedule">
      <div class="container">
          <div class="row">
             <div class="columns-6">
               <h2>Saturday - 4/8</h2>
               <table class="schedule_table">
                 <tr>
                   <td><b>12:00pm</b></td>
                   <td>Check-in Opens<p class="subtitle">Zimmer Lobby</p></td>
                 </tr>
                 <tr>
                   <td><b>12:00pm</b></td>
                   <td>Sponsor Expo Begins<p class="subtitle">Zimmer Lobby</p></td>
                 </tr>
                 <tr>
                   <td><b>1:00pm</b></td>
                   <td>Opening Ceremony Begins<p class="subtitle">Zimmer Auditorium</p></td>
                 </tr>
                 <tr>
                   <td><b>1:45pm</b></td>
                   <td>Team Formation<p class="subtitle">Zimmer Plaza</p></td>
                 </tr>
                 <tr>
                   <td><b>2:30pm</b></td>
                   <td>Hacking Begins<p class="subtitle">Hackerspace</p></td>
                 </tr>   
                 <tr>
                   <td><b>3:00pm</b></td>
                   <td>Tech Talks Begin<p class="subtitle">Location Varies</p></td>
                 </tr> 
                 <tr>
                   <td><b>6:00pm</b></td>
                   <td>Dinner<p class="subtitle">Baldwin 544/644</p></td>
                 </tr>  
                </table>
             </div>
             <div class="columns-6">
                <h2>Sunday - 4/9</h2>
               <table class="schedule_table">
                 <tr>
                   <td><b>12:00am</b></td>
                   <td>Midnight Snack<p class="subtitle">Rhodes 801 Lobby</p></td>
                 </tr>
                 <tr>
                   <td><b>8:00am</b></td>
                   <td>Breakfast<p class="subtitle">Rhodes 801 Lobby</p></td>
                 </tr>
                 <tr>
                   <td><b>12:00pm</b></td>
                   <td>Lunch<p class="subtitle">Baldwin 544/644</p></td>
                 </tr>
                 <tr>
                   <td><b>2:30pm</b></td>
                   <td>Hacking Ends</td>
                 </tr>
                 <tr>
                   <td><b>3:00pm</b></td>
                   <td>Judging Begins</td>
                 </tr>   
                 <tr>
                   <td><b>4:30pm</b></td>
                   <td>Awards/Closing Ceremony Begins<p class="subtitle">Old Chem 525</p></td>
                 </tr>  
                </table>
             </div>
          </div>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
