<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'Email Verified'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>

    <div view class="animatable" id="view-check-email">
      <div class="container">
        <h1>All done!</h1>
        <p>Your email has been verified and you have been registered.</p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
