<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title = '404'; %>
    <% subtitle = 'Page not found' ; %>
    <% secondary_subtitle = '' ; %>
    <% background = 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">
          <p router-link>Perhaps you were looking to <a href="/register">register</a> for RevolutionUC? Or maybe you just want to go back <a href="/">home?</a></p>
          <p>Is something broken? Please <a href="mailto:info@revolutionuc.com">contact us</a>.</p>
      </div>
    </div>
<% if(partial == false) { %> <% include ./footer %> <% } %>
