<div class="socials devpost">
  <h2>Submit a project to this year's DevPost:</h2>
  <div>
    <a href="https://revuc-vi.devpost.com" target="_blank">
      <img class="devpost" src="/imgs/revuc@144.png">
    </a>
  </div>
  <h2>See our past hacks:</h2>
  <ul class="list-inline">
    <li>
      <a href="https://revolutionuc1.devpost.com/submissions" target="_blank">
        <img class="devpost" src="/imgs/revuc-fall-2016.png">
      </a>
    </li>
    <li class="columns-3">
      <a href="https://revolutionuc-iv.devpost.com/submissions" target="_blank">
        <img class="devpost" src="/imgs/revuc-spring-2016.png">
      </a>
    </li>
    <li class="columns-3">
      <a href="https://revuc-iii.devpost.com/submissions" target="_blank">
        <img class="devpost" src="/imgs/revuc-spring-2015.png">
      </a>
    </li>
  </ul>
</div>
