<!doctype html>
<html>
  <head>
    <title>RevolutionUC Hackathon</title>
    <meta charset="utf-8">
    <meta name="author" content="Dom Farolino">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="#67cbec">

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@RevolutionUC">
    <meta name="twitter:title" content="RevolutionUC Hackathon"/>
    <meta name="twitter:description" content="University of Cincinnati hackathon website"/>
    <meta name="twitter:image" content="/imgs/revuc@192.png"/>
    <meta name="twitter:image:alt" content="RevolutionUC Hex Logo"/>

    <script>
      var host = "revolutionuc.com";
      if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
    </script>

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/imgs/revuc@192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/revuc@32.png"/>

    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Jockey+One">
    <link rel="stylesheet" href="/css/master.css" media="screen">

    <!-- TODO: Preload -->
  </head>
  <body>

  <!-- This can only be added when header is responsive or it breaks e2e tests -->
  <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:80px;width:10%;z-index:1" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>

    <header>
      <div class="header-content">
        <img src="/imgs/revuc.png"alt="revolutionuc icon">
        <h2 class="header-title">RevolutionUC</h2>
        <div class="nav-container">
          <input id="menu-toggle" type="checkbox" class="menu-toggle" />
          <label class="menu-toggle-label" for="menu-toggle"></label>
          <nav>
            <ul>
              <li><a id="a-home" href="/">Home</a></li>
              <li><a id="a-about" href="/about">About</a></li>
              <li><a id="a-faq" href="/faq">FAQ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="view-content visible">
