<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle = '<img src="imgs/icons/today.svg"> April 8th & 9th</img>' ; %>
    <% secondary_subtitle = '<img src="imgs/icons/location.svg"> Cincinnati, OH</img>' ; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">
        <form name="registration">
          <div class="circle top left"></div>
          <div class="circle top right"></div>
          <div class="circle bottom left"></div>
          <div class="circle bottom right"></div>

          <div class="block b-bottom">
            <h1>Registration</h1>
          </div>

          <div class="block b-bottom">
            <label class="tag">First Name</label>
            <input name="firstName" type="text" placeholder="Bob">
          </div>

          <div class="block b-bottom">
            <label class="tag">Last Name</label>
            <input name="lastName" type="text" placeholder="Evans">
          </div>

          <div id="shirtSize" class="row b-bottom">
            <div class="block fourth b-right">
              <label for="">Shirt Size:</label>
            </div>

            <div class="block row three-fourths">
              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="small" value="small">
                <label for="small">Small</label>
              </div>

              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="medium" value="medium">
                <label for="medium">Medium</label>
              </div>

              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="large" value="large">
                <label for="large">Large</label>
              </div>

              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="x-large" value="x-large">
                <label for="x-large">X-Large</label>
              </div>
            </div>
          </div>

          <div class="block b-bottom">
            <label class="tag">Email</label>
            <input name="email" type="text" placeholder="Email">
          </div>

          <div class="row b-bottom">
            <div class="block half b-right">
              <label class="tag">School</label>
              <input name="school" type="text" placeholder="University of Cincinnati">
            </div>

            <div class="block fourth b-right">
              <label class="tag">Major</label>
              <input name="major" type="text" placeholder="Computer Science">
            </div>

            <div class="block fourth">
              <label class="tag">Date of birth</label>
              <input type="date" name="dob">
            </div>
          </div>

          <div class="block b-bottom">
            <label class="tag">Phone Number</label>
            <input name="phoneNumber" type="text" placeholder="XXX-XXX-XXXX">
          </div>

          <div class="row b-bottom">
            <div class="block half b-right">
              <label class="tag">Dietary restrictions</label>
              <textarea name="dietaryRestrictions" id="" cols="30" rows="5" placeholder="Explain dietary restrictions here"></textarea>
            </div>

            <div class="block half">
              <label class="tag">Special accommodations</label>
              <textarea name="accommodations" id="" cols="30" rows="5" placeholder="Explain special accommodations here"></textarea>
            </div>
          </div>

          <div class="block b-bottom">
            <label class="tag">GitHub</label>
            <input name="githubUsername" type="text" placeholder="GitHub username">
          </div>

          <select name="education">
            <option value="" disabled selected>Level of Education</option>
            <option value="high-school">High School</option>
            <option value="undergraduate">Undergraduate</option>
            <option value="graduate">Graduate</option>
          </select>

          <select name="gender">
            <option value="" disabled selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>

          <input name="resume" type="file">

          <input name="registrationSubmit" type="submit">
        </form>

        <a class="buildlearngrow-card" href="/about">
          <div class="buildlearngrow-card__text">
            <h2>Build. Learn. Grow.</h2>
            <p>RevolutionUC is open to all college and high school students</p>
          </div>
        </a>

        <div class="socials">
          <ul class="list-inline">
            <li>
              <a href="https://twitter.com/Revolution_UC" title="RevolutionUC on Twitter" target="_blank">
                <img src="/imgs/icons/twitter.svg" alt="Twitter">
              </a>
            </li>
            <li class="columns-3">
              <a href="https://facebook.com/RevolutionUC" title"RevolutionUC on Facebook" target="_blank">
                <img src="/imgs/icons/facebook.svg" alt="Facebook">
              </a>
            </li>
            <li class="columns-3">
              <a href="https://github.com/RevolutionUC" title="RevolutionUC on GitHub" target="_blank">
                <img src="/imgs/icons/github.svg" alt="GitHub">
              </a>
            </li>
            <li class="columns-3">
              <a href="mailto:info@revolutionuc.com" title="Email us at info@revolutionuc.com" target="_blank">
                <img src="/imgs/icons/email.svg" alt="Email">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


<% if(partial == false) { %> <% include ./footer %> <% } %>
