<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle = '' ; %>
    <% secondary_subtitle = '<img src="imgs/icons/location.svg"> Cincinnati, OH</img>' ; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">

        <% include ./devpost %>
        <% include ./socials %>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
