<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle = '<img src="imgs/icons/today.svg"> April 8th & 9th</img>' ; %>
    <% secondary_subtitle = '<img src="imgs/icons/location.svg"> Cincinnati, OH</img>' ; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">
        <form name="registration">
          <div class="circle top left"></div>
          <div class="circle top right"></div>
          <div class="circle bottom left"></div>
          <div class="circle bottom right"></div>

          <div class="block b-bottom">
            <h1 id="registrationTitle">Registration</h1>
          </div>

          <div class="block b-bottom">
            <label class="tag" for="firstName">First Name*</label>
            <input name="firstName" id="firstName" type="text" placeholder="Bob">
          </div>

          <div class="block b-bottom">
            <label class="tag" for="lastName">Last Name*</label>
            <input name="lastName" id="lastName" type="text" placeholder="Evans">
          </div>

          <div id="shirtSize" class="block row b-bottom">
            <label class="tag" for="shirtSize">Shirt Size*</label>
              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="small" value="small">
                <label for="small">Small</label>
              </div>

              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="medium" value="medium">
                <label for="medium">Medium</label>
              </div>

              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="large" value="large">
                <label for="large">Large</label>
              </div>

              <div class="checkbox-item fourth">
                <input name="shirtSize" type="radio" id="x-large" value="x-large">
                <label for="x-large">X-Large</label>
              </div>
          </div>

          <div class="block b-bottom">
            <label class="tag" for="email">Email*</label>
            <input name="email" id="email" type="text" placeholder="Email">
          </div>

          <div class="row b-bottom">
            <div class="block half b-right">
              <label class="tag" for="school">School*</label>
              <input name="school" id="school" type="text" placeholder="University of Cincinnati">
            </div>

            <div class="block fourth b-right">
              <label class="tag" for="major">Major*</label>
              <input name="major" id="major" type="text" placeholder="Computer Science">
            </div>

            <div class="block fourth">
              <label class="tag" for="dob">Date of birth*</label>
              <input type="date" name="dob" id="dob">
            </div>
          </div>

          <div class="block b-bottom">
            <label class="tag" for="phoneNumber">Phone Number*</label>
            <input name="phoneNumber" id="phoneNumber" type="text" placeholder="XXX-XXX-XXXX">
          </div>

          <div class="row b-bottom">
            <div class="block half b-right">
              <label class="tag">Dietary restrictions</label>
              <textarea name="dietaryRestrictions" cols="30" rows="5" placeholder="Explain dietary restrictions here"></textarea>
            </div>

            <div class="block half">
              <label class="tag">Special accommodations</label>
              <textarea name="accommodations" cols="30" rows="5" placeholder="Explain special accommodations here"></textarea>
            </div>
          </div>

          <div class="block b-bottom">
            <label class="tag">GitHub</label>
            <input name="githubUsername" type="text" placeholder="GitHub username">
          </div>

          <div class="row b-bottom">
            <div class="block b-right third">
              <label class="tag" for="education">Education*</label>
              <select name="education" id="education">
                <option value="" disabled selected>Level of Education</option>
                <option value="high-school">High School</option>
                <option value="undergraduate">Undergraduate</option>
                <option value="graduate">Graduate</option>
              </select>
            </div>

            <div class="block b-right third">
              <label for="gender" class="tag">Gender*</label>
              <select name="gender" id="gender">
                <option value="" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="non-binary">Non-binary</option>
              </select>
            </div>

            <div class="block third">
              <label class="tag" for="resume">Resume*</label>
              <input name="resume" id="resume" type="file">
            </div>
          </div>

          <div class="row">
            <div class="block third b-right">
              <label>MLH Data Sharing</label>
              <input name="dataSharing" type="checkbox" class="button">
            </div>
            <div class="block third b-right">
              <label >MLH Code of Conduct</label>
              <input name="codeOfConduct" type="checkbox" class="button">
            </div>
            <div class="block third">
              <input name="registrationSubmit" type="submit" disabled class="button">
            </div>
          </div>
        </form>

        <a class="buildlearngrow-card" href="/about">
          <div class="buildlearngrow-card__text">
            <h2>Build. Learn. Grow.</h2>
            <p>RevolutionUC is open to all college and high school students</p>
          </div>
        </a>

        <div class="socials">
          <ul class="list-inline">
            <li>
              <a href="https://twitter.com/Revolution_UC" title="RevolutionUC on Twitter" target="_blank">
                <img src="/imgs/icons/twitter.svg" alt="Twitter">
              </a>
            </li>
            <li class="columns-3">
              <a href="https://facebook.com/RevolutionUC" title"RevolutionUC on Facebook" target="_blank">
                <img src="/imgs/icons/facebook.svg" alt="Facebook">
              </a>
            </li>
            <li class="columns-3">
              <a href="https://github.com/RevolutionUC" title="RevolutionUC on GitHub" target="_blank">
                <img src="/imgs/icons/github.svg" alt="GitHub">
              </a>
            </li>
            <li class="columns-3">
              <a href="mailto:info@revolutionuc.com" title="Email us at info@revolutionuc.com" target="_blank">
                <img src="/imgs/icons/email.svg" alt="Email">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


<% if(partial == false) { %> <% include ./footer %> <% } %>
