<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'Home'; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="dom-card">
        <h2>RevolutionUC</h2>
        <p>
          More content coming soon
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
