<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle = '<img src="imgs/ic_today_white_18px.svg"> April 8 & 9</img>' ; %>
    <% secondary_subtitle = '<img src="imgs/ic_location_on_white_18px.svg"> Cincinnati, OH</img>' ; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <h2>RevolutionUC</h2>
      <h3>Registration is opening soon. Sign up to be notified when it does.</h3>
      <a id="registration-notify" href="http://eepurl.com/cw1Iez">
          <img src="/imgs/notify.svg" style="vertical-align: middle;" alt="notift icon">
          <span style="vertical-align: text-top;margin-left:3px;">Notify Me</span>
      </a>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
