<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="animatable" id="view-home">
      <div class="container">

        <h1 class="text-center">RevolutionUC Live</h1>
        <div style="width:100%;max-width:192px;margin:0 auto;">
          <img src="/imgs/revuc@192.png" alt="">
        </div>
        <!--<div style="overflow:hidden">-->
          <!--<iframe style="max-width:700px;width:100%;height:360px;display:block;margin:0 auto;" src="https://w2.countingdownto.com/1779372" frameborder="0"></iframe>-->
        <!--</div>-->
        <p style="text-align:center">
          <a href="https://slack.revolutionuc.com">Join RevolutionUC on Slack <img style="margin-left:10px;vertical-align:middle;" width="20" height="20" src="https://cdn.worldvectorlogo.com/logos/slack-1.svg" alt=""></a>
        </p>
        <p style="text-align:center">
          <a href="https://drive.google.com/file/d/0BwrUJBNACdVCMWQ1cS1GVWJHSDA/view">Check out our tech talk schedule</a>
        </p>
        <div style="width:400px;margin:20px auto">
          <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/Revolution_UC"></a>
        </div>

        <% include ./devpost %>
        <% include ./socials %>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
