<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title = 'thanks'; %>
    <% subtitle = '' ; %>
    <% secondary_subtitle = '' ; %>
    <% background = 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">
        <p class="lead text-center">Shout-out to all of our great hackers, sponsors, and organizers for a fantastic RevolutionUC Spring 2017!</p>

        <% include ./socials %>

        <div class="row">
          <h1 class="text-center">Recap Video</h1>

          <div class="video">
            <iframe width="1280" height="750" src="https://www.youtube.com/embed/X8WRpnpcJ5k" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <br>

        <div class="row">
          <h1 class="text-center">Photo Album</h1>

          <div class="video iframe--facebook">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FRevolutionUC%2Fposts%2F1281489038567526" data-width="auto" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
        </div>

        <br>

        <% include ./sponsors-post-event %>
        <% include ./devpost %>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
