<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'Home'; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <h1>RevolutionUC</h1>
      <h3>Registration is opening soon. Sign up to be notified when it does.</h3>
      <a id="registration-notify" href="http://eepurl.com/cw1Iez">
          <img src="/imgs/notify.svg" style="vertical-align: middle;" alt="notift icon">
          <span style="vertical-align: text-top;margin-left:3px;">Notify Me</span>
      </a>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
