<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle= 'April 8th & 9th'; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="dom-card">
        <h2>RevolutionUC</h2>
        <p>
          RevolutionUC will be taking place on April 8th and 9th at the University of Cincinnati. Check back soon for more information.
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
