<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="animatable" id="view-home">
      <div class="container">

        <iframe style="max-width:700px;width:100%;height:360px;display:block;margin:0 auto;" src="https://w2.countingdownto.com/1779372" frameborder="0"></iframe>
        <p style="text-align:center">
          <a href="https://slack.revolutionuc.com">Join RevolutionUC on Slack</a>
        </p>
        <p style="text-align:center">
          <a href="https://drive.google.com/file/d/0BwrUJBNACdVCMTdaZVB3OWdLa1k/view?usp=sharing">Check out our tech talk schedule</a>
        </p>
        <div style="width:400px;margin:20px auto">
          <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/Revolution_UC"></a>
        </div>

        <% include ./devpost %>
        <% include ./socials %>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
