<% if(partial == false) { %> <% include ./header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle = '<img src="imgs/icons/today.svg"> April 8th & 9th</img>' ; %>
    <% secondary_subtitle = '<img src="imgs/icons/location.svg"> Cincinnati, OH</img>' ; %>
    <% background= 'about-masthead.jpg'; %>
    <% include ./masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">
        <p>
          Interested? Get notified when registration opens!
          <a class="button button--registration-notify" href="http://eepurl.com/cw1Iez">
            <img src="/imgs/icons/notify.svg" alt="notifty icon">
            <span>Notify Me</span>
          </a>
        </p>

        <a class="buildlearngrow-card" href="/about">
          <div class="buildlearngrow-card__text">
            <h2>Build. Learn. Grow.</h2>
            <p>RevolutionUC is open to all college and high school students</p>
          </div>
        </a>

        <div class="socials">
          <ul class="list-inline">
            <li>
              <a href="https://twitter.com/Revolution_UC" title="RevolutionUC on Twitter" target="_blank">
                <img src="/imgs/icons/twitter.svg" alt="Twitter">
              </a>
            </li>
            <li class="columns-3">
              <a href="https://facebook.com/RevolutionUC" title"RevolutionUC on Facebook" target="_blank">
                <img src="/imgs/icons/facebook.svg" alt="Facebook">
              </a>
            </li>
            <li class="columns-3">
              <a href="https://github.com/RevolutionUC" title="RevolutionUC on GitHub" target="_blank">
                <img src="/imgs/icons/github.svg" alt="GitHub">
              </a>
            </li>
            <li class="columns-3">
              <a href="mailto:info@revolutionuc.com" title="Email us at info@revolutionuc.com" target="_blank">
                <img src="/imgs/icons/email.svg" alt="Email">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


<% if(partial == false) { %> <% include ./footer %> <% } %>
