<div class="masthead" style="background-image: url(/imgs/<%= background %>)">
  <div class="masthead-title animatable">
    <h1>
      <%= title %>
    </h1>
    <% if(subtitle != null) { %>
      <h3>
        <%- subtitle %>
      </h3>
    <% } %>
    <% if(secondary_subtitle != null) { %>
    <h3>
      <%- secondary_subtitle %>
    </h3>
    <% } %>
  </div>
</div>
