<div class="masthead" style="background-image: url(/imgs/<%= background %>)">
  <div class="masthead-content">
    <h1 class="masthead-title animatable">
      <%= title %>
    </h1>
    <% if(subtitle != null) { %>
      <h3 class="masthead-subtitle animatable">
        <%- subtitle %>
      </h3>
    <% } %>
    <% if(secondary_subtitle != null) { %>
    <h3 class="masthead-subtitle animatable">
      <%- secondary_subtitle %>
    </h3>
    <% } %>
  </div>
</div>
