<div class="masthead" style="background-image: url(/imgs/<%= background %>)">
  <h1 class="masthead-title animatable">
    <%= title %>
  </h1>

  <h4 class="masthead-subtitle animatable">
    <%= subtitle %>
  </h4>
</div>
