<div class="masthead" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
),url(/imgs/<%= background %>)">
  <div class="masthead-title animatable">
    <% if (title === 'thanks') { %>
      <h1 class="text-center heading--thanks">Thanks for another awesome RevolutionUC!</h1>
    <% } else if (title != "") { %>
      <h1>
        <%- title %>
      </h1>
    <% } %>
    <% if (subtitle != "") { %>
      <h3>
        <%- subtitle %>
      </h3>
    <% } %>
    <% if (secondary_subtitle != "") { %>
    <h3>
      <%- secondary_subtitle %>
    </h3>
    <% } %>
  </div>
</div>
