<div class="socials social-media">
  <ul class="list-inline">
    <li>
      <a href="https://twitter.com/Revolution_UC" title="RevolutionUC on Twitter" target="_blank">
        <img src="/imgs/icons/twitter.svg" alt="Twitter">
      </a>
    </li>
    <li class="columns-3">
      <a href="https://facebook.com/RevolutionUC" title"RevolutionUC on Facebook" target="_blank">
        <img src="/imgs/icons/facebook.svg" alt="Facebook">
      </a>
    </li>
    <li class="columns-3">
      <a href="https://github.com/RevolutionUC" title="RevolutionUC on GitHub" target="_blank">
        <img src="/imgs/icons/github.svg" alt="GitHub">
      </a>
    </li>
    <li class="columns-3">
      <a href="mailto:info@revolutionuc.com" title="Email us at info@revolutionuc.com" target="_blank">
        <img src="/imgs/icons/email.svg" alt="Email">
      </a>
    </li>
  </ul>
</div>
