<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'FAQ'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'faq-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-faq">
      <div class="container">
        <section class="faq-section">
          <p><strong>What is a hackathon?</strong></p>
          <p>Great Question! A hackathon is an event where student hackers bring their passion for technology to create a new project coded from scratch. It’s a chance to collaborate and create something unique in any number of forms - an app, a robot, a website! You’ll hopefully learn something new along the way in our high energy, engaging environment! At RevolutionUC, participants are provided with opportunities to grow while building something they're proud of!</p>
        </section>

        <section class="faq-section">
          <p><strong>How long does RevolutionUC last?</strong></p>
          <p>Hacking at RevolutionUC lasts for 24 hours, however there is additional time before and after hacking for introductions and presentations.</p>
        </section>

        <section class="faq-section">
          <p><strong>How much does RevolutionUC cost?</strong></p>
          <p>RevolutionUC is free for all students enrolled at any accredited university <!--or high school-->. Meals, refreshments, snacks, swag, prizes, and great memories are all included with this completely free cost!</p>
        </section>

        <section class="faq-section">
          <p><strong>How do teams register?</strong></p>
          <p>Teams are formed at the event. If you already have a team, please make sure every individual in your team is registered before the event! The maximum team size is 4.</p>
        </section>

        <section class="faq-section">
          <p><strong>What if I don’t have a team?</strong></p>
          <p>That's okay! After the opening ceremony, we hold a networking and brainstorming session to help you find a team and/or project.</p>
        </section>

        <section class="faq-section">
          <p><strong>What if I don’t have much experience?</strong></p>
          <p>You’re new to hackathons? Wonderful! RevolutionUC is open to all skill levels, beginners to veterans. There’s nothing we love more than helping our hackers learn something new while they build something cool!</p>
        </section>

        <section class="faq-section">
          <p><strong>Will there be meals, snacks, or refreshments?</strong></p>
          <p>Of course! We know our hackers will be busy working so we will have free meals, snacks, and refreshments to keep you running through the night.</p>
        </section>

        <section class="faq-section">
          <p><strong>Should I expect a waiver?</strong></p>
          <p>You betcha. Before any hacking begins we require you to sign a waiver which will be emailed to all registered participants prior to the hackathon. If you are under 18 you will need a parent or legal guardian to sign the waiver.</p>
        </section>
<!--
        <section class="faq-section">
          <p><strong>Is there a minimum age for participants?</strong></p>
          <p>No, all coders are invited! But if you're under 18, you will need to have a parent/guardian sign the waiver.</p>
        </section>
-->
        <section class="faq-section">
          <p><strong>Where at the University of Cincinnati is the hackathon?</strong></p>
          <p>The hackerspace will be located in <a href="https://www.uc.edu/content/dam/common/docs/maps/campus_map_west.pdf" target="_blank">Rhodes Hall</a>. Look out for an email before the hackathon for specific rooms and where to go when you arrive on campus.</p>
        </section>

        <section class="faq-section">
          <p><strong>Where do I park?</strong></p>
          <p>UC has plenty of parking garages! For a full list, check out UC’s <a target="_blank" href="https://www.uc.edu/parking/visitors-maps.html">Maps and Visitor Info page</a>. The hackathon occurs on <i>West Campus</i>, so we would recommend parking at <a target="_blank" href="https://www.uc.edu/parking/visitors-maps.html#wa">Woodside Garage</a> or <a target="_blank" href="https://www.uc.edu/parking/visitors-maps.html#cg">Campus Green Garage</a>.</p>
        </section>

        <section class="faq-section">
          <p><strong>What should I bring?</strong></p>
          <p>Please bring a valid school ID for registration, a computer to hack on, any chargers for your device(s), and a positive attitude. We also recommend bringing basic toiletries (toothbrush, deodorant, etc), a pillow/blanket (if you choose to nap). Please note that Ethernet access will be limited, so please plan to use a Wi-Fi connection.</p>
        </section>

        <section class="faq-section">
          <p><strong>Will there be travel reimbursements?</strong></p>
          <p>We offer carpool reimbursement on a case by case basis - receipts must be provided to receive travel reimbursement. We don’t offer reimbursement for flights. If you’d like more information please do not hesitate to email us at <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>.</p>
        </section>

        <section class="faq-section">
          <p><strong>What if I have more questions?</strong></p>
          <p>We will have organizers and volunteers present, so don't be shy and ask away! Feel free to tweet at us at <a href="https://twitter.com/Revolution_UC" target="_blank">@Revolution_UC</a> with the hashtag #AskRevUC or send an email to <a href="mailto:info@revolutionuc.com">info@revolutionuc.com</a>.</p>
        </section>

        <section class="faq-section">
          <p><strong>Is there a Code of Conduct?</strong></p>
          <p>Absolutely! We operate on the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Major League Hacking Code of Conduct</a> to create an all-inclusive environment for our hackers.</p>
        </section>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
