<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'FAQ'; %>
    <% subtitle= ''; %>
    <% background= 'faq-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-faq">
      <div class="dom-card">
        <h2>What is a hackathon?</h2>
        <a href="https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601#.ooswc7dsp">Great question.</a>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
