<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'RevolutionUC'; %>
    <% subtitle = '<img src="imgs/icons/today.svg"> April 8th & 9th</img>' ; %>
    <% secondary_subtitle = '<img src="imgs/icons/location.svg"> Cincinnati, OH</img>' ; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-home">
      <div class="container">

        <div class="buildlearngrow-card" router-link>
          <a href="/about">
            <div class="buildlearngrow-card__text">
              <h2>Build. Learn. Grow.</h2>
              <p>RevolutionUC is open to all college and high school students</p>
            </div>
          </a>
        </div>

        <% include ../devpost %>
        <% include ../socials %>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
