<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'About'; %>
    <% background= 'about-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-about">
      <div class="dom-card">
        <h2>What is RevolutionUC?</h2>
        <p>
          What is RevolutionUC? RevolutionUC is a student hackathon in which we invite students from across the midwest to partake in a weekend of code, community, and self-improvement. You don't have to attend the University of Cincinnati and you don't have to be a computer science major or engineering student. We're looking for people who share our passion to do awesome things with technology.
        </p>
      </div>
      <div class="dom-card">
        <h2> What are we about?</h2>
        <p>
          Hackathons are more than just a competition or showcase of technical skill. At RevolutionUC, we strive to create an all-inclusive community that acts as an outlet in which we can join our peers and share our passion for all the incredible things that can be done through programming. We’re excited to share this ethos with all of our attendees and come together to grow the hacker community here in Cincinnati.
        </p>
      </div>
      <div class="dom-card">
        <h2> Want to get in contact?</h2>
        <p>
          Want more details on RevolutionUC? Want to get in contact about sponsorship? <a href=mailto:info@revolutionuc.com> Reach out to us!</a>
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
