<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'About'; %>
    <% background= 'about-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-about">
      <div class="dom-card">
        <h2>What is RevolutionUC?</h2>
        <p>
          What is RevolutionUC? RevolutionUC is a student hackathon in which we invite students from across the midwest to partake in a weekend of code, community, and self-improvement. You don't have to attend the University of Cincinnati and you don't have to be a computer science major or engineering student. We're looking for people who share our passion to do awesome things with technology.
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
