<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= ''; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'faq-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-check-email">
      <div class="container">
        <h1>Email Verification</h1>
        <p>In order to complete registration please check your email and click the link we sent you</p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
