<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'Sponsors'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-sponsors">
      <div class="container">
          <div class="row">
             <div class="columns-6" style="line-height: 200px;">
                <a href="https://www.plm.automation.siemens.com/en_us/"><img src="/imgs/sponsor_logos/siemens.svg" alt="Siemens Logo"></a>
             </div>
             <div class="columns-6" style="line-height: 200px;">
                <a href="https://www.ibm.com/internet-of-things/"><img src="/imgs/sponsor_logos/IBM_Black.jpg" alt="IBM IoT Logo"></a>
             </div>
          </div>
          <div class="row">
             <div class="columns-3 empty">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">
             </div>
             <div class="columns-3">
                <a href="https://www.datazar.com/"><img src="/imgs/sponsor_logos/datazar_workmark.png" alt="Datazar Wordmark"></a>
             </div>
             <div class="columns-3">
                <a href="https://roadtrippers.com/"><img src="/imgs/sponsor_logos/Roadtrippers.png" alt="Roadtrippers Logo"></a>
             </div>
             <div class="columns-3 empty">
                <img style="visibility: hidden" src="http://placehold.it/300x200?text=TBA">
             </div>
          </div>
          <h3 style="text-align: center; padding-bottom: 10px;">We would also like to thank our partners:</h3>
          <div class="row">
             <div class="columns-6" style="line-height: 300px;">
                <a href="https://acmatuc.org/"><img src="/imgs/sponsor_logos/ACMLogo.png" alt="ACM@UC Logo"></a>
             </div>
             <div class="columns-6">
                <a href="https://mlh.io/"><img src="/imgs/sponsor_logos/mlh-logo-color.png" alt="Major League Hacking Logo"></a>
             </div>
          </div>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
