<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= ' Our Sponsors'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-sponsors">
      <div class="container">
          <div class="row" style="padding-top:40px;">
             <div class="columns-5 " style="line-height: 200px;">
                <a href="https://www.kinetic-vision.com/" target="_blank"><img src="/imgs/sponsor_logos/Kinetic_Vison_Helium_Dual_Logo.jpg" alt="Kinetic Vision + Helium Logo"></a>
             </div>          
             <div class="columns-2 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>
             <div class="columns-5" style="line-height: 280px;">
                <a href="https://www.8451.com/" target="_blank"><img src="/imgs/sponsor_logos/8451_logo.jpg" alt="84.51 Logo"></a>
             </div> 
          </div>          
          <div class="row">
             <div class="columns-5" style="line-height: 240px;">
                 <a href="https://www.plm.automation.siemens.com/en_us/" target="_blank"><img src="/imgs/sponsor_logos/siemens.png" alt="Siemens Logo"></a>
             </div>
             <div class="columns-2 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>             
             <div class="columns-5" style="line-height: 200px;">
                <a href="https://www.ibm.com/internet-of-things/" target="_blank"><img src="/imgs/sponsor_logos/IBM_Black.jpg" alt="IBM IoT Logo"></a>
             </div>
          </div>
          <div class="row">
             <div class="columns-4" style="line-height: 200px;">
                <a href="http://www.scripps.com/digital" target="_blank"><img src="/imgs/sponsor_logos/Scripps_logo.jpg" alt="Scripps Logo"></a>
             </div>
             <div class="columns-4" style="line-height: 200px;">
                <a href="http://cech.uc.edu/it.html" target="_blank"><img src="/imgs/sponsor_logos/School_of_IT.svg" alt="UC School of IT Logo"></a>
             </div>
            <div class="columns-4" style="line-height: 200px;">
                <a href="https://www.tcs.com/" target="_blank"><img src="/imgs/sponsor_logos/Tata_and_TCS_Marks.jpg" alt="Tata and TCS Logo"></a>
             </div>
          </div>
          <div class="row">
             <div class="columns-3 empty">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">
             </div>
             <div class="columns-3">
                <a href="https://www.datazar.com/" target="_blank"><img src="/imgs/sponsor_logos/datazar_workmark.png" alt="Datazar Wordmark"></a>
             </div>

             <div class="columns-3">
                <a href="https://roadtrippers.com/" target="_blank"><img src="/imgs/sponsor_logos/Roadtrippers.png" alt="Roadtrippers Logo"></a>
             </div>
          </div>
          <h3 style="text-align: center; padding-bottom: 10px;">We would also like to thank our partners:</h3>
          <div class="row">
             <div class="columns-5" style="line-height: 300px;">
                <a href="https://acmatuc.org/" target="_blank"><img src="/imgs/sponsor_logos/ACMLogo.png" alt="ACM@UC Logo"></a>
             </div>
             <div class="columns-2 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>    
             <div class="columns-5">
                <a href="https://mlh.io/" target="_blank"><img id="mlh" src="/imgs/sponsor_logos/mlh-logo-color.png" alt="Major League Hacking Logo"></a>
             </div>
          </div>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
