<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= ' Our Sponsors'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-sponsors">
      <div class="container">
          <div class="row" style="padding-top:40px;">
             <div class="columns-5 " style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/Kinetic_Vision_Helium_Dual_Logo.png" alt="Kinetic Vision + Helium Logo">
             </div>          
             <div class="columns-2 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>
             <div class="columns-5" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/8451_logo.jpg" alt="84.51 Logo">
             </div> 
          </div>          
          <div class="row">
             <div class="columns-5" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/siemens.svg" alt="Siemens Logo">
             </div>
             <div class="columns-2 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>             
             <div class="columns-5" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/IBM_Black.jpg" alt="IBM IoT Logo">
             </div>
          </div>
          <div class="row">
             <div class="columns-1 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>
             <div class="columns-3" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/Scripps_logo.jpg" alt="Scripps Logo">
             </div>
             <div class="columns-1 empty" style="line-height: 200px;">
                <img style="visibility: hidden" src="http://placehold.it/300x200?text=TBA">
             </div>
             <div class="columns-3" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/School_of_IT.svg" alt="UC School of IT Logo">
             </div>
             <div class="columns-1 empty" style="line-height: 200px;">
                <img style="visibility: hidden" src="http://placehold.it/300x200?text=TBA">
             </div> 
            <div class="columns-3" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/Tata_and_TCS_Marks.jpg" alt="Tata and TCS Logo">
             </div>

          </div>
          <div class="row">
             <div class="columns-3 empty">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">
             </div>
             <div class="columns-3">
                <img src="/imgs/sponsor_logos/datazar_workmark.png" alt="Datazar Wordmark">
             </div>

             <div class="columns-3">
                <img src="/imgs/sponsor_logos/Roadtrippers.png" alt="Roadtrippers Logo">
             </div>
          </div>
          <h3 style="text-align: center; padding-bottom: 10px;">We would also like to thank our partners:</h3>
          <div class="row">
             <div class="columns-5" style="line-height: 300px;">
                <img src="/imgs/sponsor_logos/ACMLogo.png" alt="ACM@UC Logo">
             </div>
             <div class="columns-2 empty" style="line-height: 200px;">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">                 
             </div>    
             <div class="columns-5">
                <img id="mlh" src="/imgs/sponsor_logos/mlh-logo-color.png" alt="Major League Hacking Logo">
             </div>
          </div>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
