<% if(partial == false) { %> <% include ../header %> <% } %>

    <% title= 'Sponsors'; %>
    <% subtitle = ''; %>
    <% secondary_subtitle = ''; %>
    <% background= 'home-masthead.jpg'; %>
    <% include ../masthead %>

    <div view class="animatable" id="view-sponsors">
      <div class="container">
          <div class="row">
             <div class="columns-6" style="line-height: 200px;">
                <img src="/imgs/sponsor_logos/siemens.svg" alt="Siemens Logo">
             </div>
             <div class="columns-6">
                <img src="/imgs/sponsor_logos/IBM_Black.jpg" alt="IBM IoT Logo">
             </div>
          </div>
          <div class="row">
             <div class="columns-3">
                 <img style="visibility: hidden;" src="http://placehold.it/300x200?text=TBA">
             </div>
             <div class="columns-3">
                <img src="/imgs/sponsor_logos/datazar_workmark.png" alt="Datazar Wordmark">
             </div>
             <div class="columns-3">
                <img src="/imgs/sponsor_logos/Roadtrippers.png" alt="Roadtrippers Logo">
             </div>
             <div class="columns-3">
                <img style="visibility: hidden" src="http://placehold.it/300x200?text=TBA">
             </div>
          </div>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
